<app-admin-header></app-admin-header>
<div class="pending-posts">
    <h3 class="text-center">Pending Posts</h3>
    <div *ngIf="pendingPosts.length > 0; else noPendingPosts">
      <div *ngFor="let post of pendingPosts" class="card mb-3 bg-white text-black p-3">
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
        <!-- Other post details -->
        <div class="btn-container">
          <button class="btn-accept" (click)="acceptPost(post)">Accept</button>
          <button class="btn-reject" (click)="rejectPost(post)">Reject</button>
        </div>
      </div>
    </div>
    <ng-template #noPendingPosts>
      <p class="text-center">No pending posts found.</p>
    </ng-template>
  </div>
  
  
