<app-header></app-header>
<div class="maincontainer">
  <div class="container col-sm-8 mx-auto align-item-center">
    <div>
      <h3 class="text-center m-t-10">Recent Blogs here...</h3>
    </div>
    <div *ngFor="let post of posts" class="card mb-3 bg-white text-black p-3">
      <p><span class="text-bold">Topic:</span> {{post.title}}</p>
      <p><span class="text-bold">Author:</span> {{post.author}}</p>
      <p>{{post.content | slice: 0:1000}} <span><a [routerLink]="['/posts', post.id]" class="text">Read more...</a></span></p>
      <div class="btn-container">
        <button class="btn-edit" [routerLink]="['/editpost', post.id]">Edit</button>
        <button class="btn-delete" (click)="deletePost(post)">Delete</button>
        <button class="btn-save" (click)="savePost(post)">Save</button>
      </div>
    </div>
  </div>
</div>
