<app-admin-header></app-admin-header>
<div class="background-container">
    <div class="maincontainer">
      <div class="container col-sm-8 mx-auto align-item-center search-container">
        <input type="text" [(ngModel)]="term" placeholder="Search here...">
        <button class="btn-search" (click)="filterPosts()">Search</button>
        <div>
          <h3 class="text-center m-t-10">Recent Blogs here...</h3>
        </div>
        <div *ngIf="filteredPosts.length > 0; else noResults">
          <div *ngFor="let post of filteredPosts" class="card mb-3 bg-white text-black p-3">
            <p><span class="text-bold">Topic:</span> {{post.title}}</p>
            <p><span class="text-bold">Author:</span> {{post.username}}</p>
            <p>{{post.content | slice: 0:1000}} <span><a [routerLink]="['/posts', post.id]" class="text">Read more...</a></span></p>
            <div class="dropdown-container">
              <div class="dropdown">
                <button class="dropdown-icon">&#58;</button>
                <div class="dropdown-content">
                  <button *ngIf="isUserPost(post)" class="dropdown-option" [routerLink]="['/editpost', post.id]">Edit</button>
                  <button *ngIf="isUserPost(post)" class="dropdown-option" (click)="deletePost(post)">Delete</button>
                  <button *ngIf="!isUserPost(post)" class="dropdown-option" (click)="savePost(post)">Flag</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noResults>
          <p class="text-center">No results found.</p>
        </ng-template>
        <div *ngIf="isPostSaved" class="post-saved-message slide-in">
          Post saved as a bookmark
        </div>
      </div>
    </div>
  </div>
