.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h3 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #271b3f;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #271b3f;
  }
  
  input[type="text"],
  textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    color: #271b3f;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border-color: #271b3f;
  }
  
  .btn-primary {
    background-color: #271b3f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
  }
  
  .btn-primary:hover {
    background-color: #8d7dd9;
    cursor: pointer;
  }
  
  /* background color and font color for form elements */
  form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    color: #271b3f;
  }
  
  /* change border color on focus for other form elements */
  form input:focus {
    border-color: #271b3f;
  }
  
  /* background color and font color for container elements. */
  body {
    background-color: #f2f2f2;
    color: #271b3f;
  }
  