<app-admin-header></app-admin-header>
<table>
    <thead>
      <tr>
        <th>#</th>
        <!-- <th>ID</th> -->
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th>Warning Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <!-- <td>{{ user.id }}</td> -->
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNo }}</td>
        <td>{{ getUserRole(user.roles) }}</td>
        <td>{{ user.warnings }}</td>
        <td class="action-buttons">
          <button class="warning-button" (click)="warningUser(user.id)">Warning</button>
          <button class="delete-button" (click)="deleteUser(user)">Delete</button>
          <!-- <button class="edit-button" (click)="redirectToEditPage(user.id)">Edit</button>        -->
        </td>
      </tr>
    </tbody>
  </table>
  
  